body {
    background:pink;
    font-family: Arial, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
}

.assignment img {
    width:200px;
    padding:10px;
}

h1 {
    color: darkblue;
    text-align:center;
}